<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <title>Chat App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" >
    

</head>

<body >
   <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><a href="/"><i class="certificate icon"></i>KrishY</a></div>
                <a href="/buy.html" class="item"  style="float: right">Buy</a>
                
                
                <a href="/report" class="item" style="float: right">Report</a>
                <a href="/chatTab.html" class="item"  style="float: right">Want to Chat?</a>
                <a href="/awareness.html" class="item" style="float: right">Awareness</a>
                 <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                        
                         <a href="/logout" class="item"  style="float: right">Logout</a>
                </ul>
            </div>
              </div></div>
            <h1 style="margin-top: 60px"><%=buyer.username.username%></h1>
            <h3><%=buyer.email%></h3>

              <div class="ui main text container segment">
        <div class="ui huge header">Items Site</div>
        <div class="ui top attached ">
                <div class="ui divided items">
                    <% items.forEach(function(item){ %>
                    <div class="item">
                         <div class="image ui medium rounded" style="margin-bottom: 25px"><img src="<%= item.image%>">
                         </div>
                    </div>
                    <div class="content" style="margin-bottom: 25px">
                     <a class="ui header" > <%= item.name %>
                     </a>
                    </div> 
           <div class="description" style="margin-bottom: 25px">
            <p><%- item.content %> 
            <p><%= item.type %></p>
            <p><%= item.author %></p>
            <p><%= item.phone %></p>
            <p><%= item.cost %></p>
            </p>
        </div>    

        <%});%>
                
            </div>
        </div>
        
        </div>

</body>
</html>